<div class="container">
  <div class="posicao-cadeado">
    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoUm" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoUm()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoUm" src="assets/cadeadoAberto.png" (click)="abrirCadeadoPequenoUm()">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoDois" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoDois()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoDois" src="assets/cadeadoAberto.png" (click)="abrirCadeadoPequenoDois()">

    <img class="imgCadeadosGrandes" *ngIf="!cadeadoGrandePrincipal" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPrincipal()">
    <img class="imgCadeadosGrandes" *ngIf="cadeadoGrandePrincipal" src="assets/cadeadoAberto.png" (click)="abrirCadeadoPrincipal()">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoTres" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoTres()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoTres" src="assets/cadeadoAberto.png" (click)="abrirCadeadoPequenoTres()">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoQuatro" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoQuatro()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoQuatro" src="assets/cadeadoAberto.png" (click)="abrirCadeadoPequenoQuatro()">


  </div>
</div>






<!-- <div>
  <h2>Porta dos Cadeados 1</h2>
  <div class="posicao-cadeado">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoUm" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoUm()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoUm" src="assets/cadeadoAberto.png">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoDois" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoDois()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoDois" src="assets/cadeadoAberto.png">

    <img class="imgCadeadosPequenos" *ngIf="!cadeadoPequenoTres" src="assets/cadeadoFechado.png" (click)="abrirCadeadoPequenoTres()">
    <img class="imgCadeadosPequenos" *ngIf="cadeadoPequenoTres" src="assets/cadeadoAberto.png">

    <img class="imgCadeadosGrandes" *ngIf="!cadeadoGrandeAberto" src="assets/cadeadoFechado.png" (click)="abrirCadeadoGrande()">
    <img class="imgCadeadosGrandes" *ngIf="cadeadoGrandeAberto" src="assets/cadeadoFechado.png">


  </div>

</div> -->
